{{ define "main" -}}
<h1 class="title">{{ .Title }}</h1>
<ul class="entries">
    {{ range .Pages.GroupByDate "2006" }}
        <h3>{{ .Key }}</h3>
        {{ range .Pages }}
            <li>
                <span class="title">
                    <strong><a href="{{ .RelPermalink }}">{{ .Title }}</a></strong>
                </span>
                <span class="published">
                    <time class="pull-right post-list">{{ .Date | time.Format ":date_full" }}</time>
                </span>
            </li>
        {{ end }}
    {{ end }}
</ul>
{{ end }}
